name: iOS Build

on:
  push:
    branches:
      - main   

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive   
          fetch-depth: 0         

      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"

      - name: Build and Archive
        run: |
          set -o pipefail
          xcodebuild clean archive \
            -project "LiveContainer.xcodeproj" \
            -scheme "LiveContainer" \
            -configuration Release \
            -archivePath $PWD/build/LiveContainer.xcarchive \
            -destination "generic/platform=iOS" \
            CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO \
          | xcpretty

      - name: Export IPA
        run: |
          xcodebuild -exportArchive \
            -archivePath $PWD/build/LiveContainer.xcarchive \
            -exportOptionsPlist .github/workflows/ExportOptions.plist \
            -exportPath $PWD/build \
            CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO \
          | xcpretty

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: LiveContainer.ipa
          path: build/LiveContainer.ipa
